      @import 'compass';
      @import 'partials/variables';
      @import 'partials/normalize';
      @import 'partials/mixins';
      @import 'partials/base';
      @import 'compass/css3';
      .sec {
          width: 100vw;
          height: auto;
          max-width: 100%;
      }
      
      .container {
          width: 80%;
          margin: 0 auto;
          position: relative;
      }
      
      .active {
          background-color: $sky-blue;
      }
      
      #loader-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
      }
      
      #loader {
          display: block;
          position: relative;
          left: 50%;
          top: 50%;
          width: 150px;
          height: 150px;
          margin: -75px 0 0 -75px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: $sky-blue;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
          z-index: 1001;
          &:before {
              content: "";
              position: absolute;
              top: 5px;
              left: 5px;
              right: 5px;
              bottom: 5px;
              border-radius: 50%;
              border: 3px solid transparent;
              border-top-color: $red;
              -webkit-animation: spin 3s linear infinite;
              animation: spin 3s linear infinite;
          }
          &:after {
              content: "";
              position: absolute;
              top: 15px;
              left: 15px;
              right: 15px;
              bottom: 15px;
              border-radius: 50%;
              border: 3px solid transparent;
              border-top-color: $yellow;
              -webkit-animation: spin 1.5s linear infinite;
              animation: spin 1.5s linear infinite;
          }
      }
      
      @-webkit-keyframes spin {
          0% {
              -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100% {
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }
      
      @keyframes spin {
          0% {
              -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100% {
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }
      
      #loader-wrapper .loader-section {
          position: fixed;
          top: 0;
          width: 51%;
          height: 100%;
          background: $dark-grey;
          z-index: 1000;
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
          &.section-left {
              left: 0;
          }
          &.section-right {
              right: 0;
          }
      }
      
      .loaded {
          #loader-wrapper .loader-section {
              &.section-left {
                  -webkit-transform: translateX(-100%);
                  -ms-transform: translateX(-100%);
                  transform: translateX(-100%);
                  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              }
              &.section-right {
                  -webkit-transform: translateX(100%);
                  -ms-transform: translateX(100%);
                  transform: translateX(100%);
                  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              }
          }
          #loader {
              opacity: 0;
              -webkit-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
          }
          #loader-wrapper {
              visibility: hidden;
              -webkit-transform: translateY(-100%);
              -ms-transform: translateY(-100%);
              transform: translateY(-100%);
              -webkit-transition: all 0.3s 1s ease-out;
              transition: all 0.3s 1s ease-out;
          }
      }
      
      .cool-image {
          position: relative;
          width: 100vw;
          height: 100vh;
          max-width: 100%;
          background: linear-gradient( rgba(255, 235, 0, 0.52), rgba(30, 213, 255, 0.1)), url("../images/cool-image.jpg") no-repeat center center fixed;
          background-size: cover;
          ul {
              margin: 0;
              padding: 0;
              float: right;
              list-style: none;
              width: 130px;
              font-family: Adam;
              li {
                  cursor: pointer;
                  font-style: italic;
                  text-decoration: none;
                  a {
                      text-decoration: none;
                      color: transparent;
                      display: block;
                      text-transform: uppercase;
                      text-shadow: 0px 0px 6px $dark-grey;
                      padding-top: 20px;
                      letter-spacing: 1px;
                      -webkit-transition: all 0.3s ease-in-out;
                      -moz-transition: all 0.3s ease-in-out;
                      -o-transition: all 0.3s ease-in-out;
                      -ms-transition: all 0.3s ease-in-out;
                      transition: all 0.3s ease-in-out;
                      @media screen and (max-width: $breakpoint-small-mobile) {
                          font-size: 10px;
                          text-align: center;
                      }
                      &:hover {
                          color: $dark-grey;
                          text-shadow: 0px 0px 0px $dark-grey;
                          padding-left: 20px;
                      }
                  }
              }
          }
          h1 {
              margin: 0;
              text-align: center;
              font-style: italic;
              font-size: 66px;
              color: $dark-grey;
              @media screen and (max-width: $breakpoint-mobile) {
                  font-size: 38px;
              }
              @media screen and (max-width: $breakpoint-small-mobile) {
                  font-size: 18px;
              }
          }
          h2 {
              margin: 0;
              text-align: center;
              font-style: italic;
              color: $dark-grey;
              font-size: 24px;
              @media screen and (max-width: $breakpoint-mobile) {
                  font-size: 18px;
              }
              @media screen and (max-width: $breakpoint-small-mobile) {
                  font-size: 14px;
              }
          }
          .main-title {
              position: absolute;
              top: 35%;
              left: 32%;
              line-height: initial;
          }
      }
      
      .title {
          h2 {
              text-align: center;
              font-size: 30pt;
              color: $dark-grey;
          }
      }
      
      .projects {
          background-color: $light-blue;
      }
      
      .myProjects-details {
          ul {
              list-style: none;
              line-height: 0em;
              padding: 0;
              margin: 0;
              li {
                  width: 49%;
                  height: 100%;
                  overflow: hidden;
                  display: inline-block;
                  margin-bottom: 10px;
                  &:hover {
                      background-color: $sky-blue;
                  }
                  @media screen and (max-width: $breakpoint-mobile) {
                      width: 100%;
                      display: block;
                      margin: 0 auto 20px;
                  }
              }
              .proj-wrapper {
                  font-family: Adam;
                  font-style: italic;
                  position: relative;
                  display: inline-block;
                  cursor: pointer;
                  transition: transform 0.4s, opacity 0.4s;
                  &:hover {
                      transform: translateY(0px) translateX(5px) scale(0.9);
                      -ms-transform: translateY(0px) translateX(5px) scale(0.9);
                      -webkit-transform: translateY(0px) translateX(5px) scale(0.9);
                      z-index: 10;
                      transition: transform 0.4s;
                  }
                  a {
                      color: $dark-grey;
                  }
                  .caption {
                      opacity: 0;
                      bottom: 0;
                      left: 0;
                      top: 0;
                      right: 0;
                      text-align: center;
                      position: absolute;
                      &:hover {
                          opacity: 1;
                          background-color: rgba(255, 255, 255, 0.5);
                          transition: all 0.5s ease-in-out;
                      }
                      h5 {
                          font-size: 23px;
                          ;
                          line-height: 3.5em;
                          @media screen and (max-width: $breakpoint-tablet) {
                              font-size: 20px;
                              line-height: 2em;
                          }
                          @media screen and (max-width: $breakpoint-small-mobile) {
                              font-size: 15px;
                              line-height:1.7em;
                          }
                      }
                  }
                  img {
                      width: 100%;
                      height: auto;
                  }
              }
          }
      }
      
      .about-me {
          .my-image {
              padding-top: 50px;
              text-align: center;
              span {
                  display: inline-block;
                  width: 140px;
                  height: 140px;
                  background-image: url("../images/nick.jpg");
                  background-position: 56% 20%;
                  webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  border: 2px solid $sky-blue;
                  margin-bottom: -3px;
              }
              canvas {
                  height: 200px;
                  width: 200px;
                  display: inherit;
                  margin: 0 auto;
              }
          }
          .about-me-text {
              margin: 0 auto;
              line-height: 1.5em;
              width: 55%;
              font-size: 18px;
              color: $black;
              text-align: center;
              font-style: italic;
              @media screen and (max-width: $breakpoint-small-mobile) {
                  font-size: 14px;
                  width: 100%;
              }
          }
      }
      

      .my-skills {
          height: 350px;
          @media screen and (max-width: $breakpoint-tablet) {

              height: 500px;
          }
          @media screen and (max-width: $breakpoint-small-mobile) {
              height: 700px;
          }
        }
      .skills-nav {
          ul {
              text-align: center;
              list-style: none;
              font-size: 20pt;
              li {
                  display: inline-block;
                  padding: 10px;
                  border-radius: 8px;
                  a {
                      text-decoration: none;
                      position: relative;
                      margin: 0 1em;
                      text-align: center;
                      color: $greyish;
                      font-style: italic;
                      transition: color 0.3s;
                  }
              }
          }
      }
      
          .skills-nav {
              text-align: center;
              #skills-wrapper {
                  /*margin-bottom: 50px;*/
                  /*height: 200px;*/
                  #skills-container {
                      .skill-item-container {
                          display: inline-block;
                          margin-right: 50px;
                          margin-top: 30px;
                          /*&:nth-child(4n) {
                      margin-right: 0;
                  }*/
                          @media screen and (max-width: $breakpoint-desktop) {
                              margin-right: 2.5em;
                          }
                          @media screen and (max-width: $breakpoint-tablet) {
                              margin: 1em 5em;
                          }
                          @media screen and (max-width: $breakpoint-mobile) {
                              margin: 0.5em 1em;
                          }
                          .item-title {
                              text-align: center;
                              margin-bottom: 5px;
                          }
                      }
                      .item-score-background {
                          display: inline-block;
                          position: relative;
                          z-index: -1;
                          width: 200px;
                          height: 20px;
                          border-radius: 5px;
                          background-color: $water-blue;
                          text-align: center;
                          .item-score {
                              position: absolute;
                              border-radius: 5px;
                              height: inherit;
                          }
                      }
                  }
              }
          }
      
      
      .ten {
          -webkit-animation: tenprogress 2s ease-in-out 0.5s alternate;
          animation: tenprogress 2s ease-in-out 0.5s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      @-webkit-keyframes tenprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 200px;
              visibility: visible;
          }
      }
      
      @-moz-keyframes tenprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 200px;
              visibility: visible;
          }
      }
      
      .nine {
          -webkit-animation: nineprogress 2s ease-in-out 0.5s alternate;
          animation: nineprogress 2s ease-in-out 0.5s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      @-webkit-keyframes nineprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 180px;
              visibility: visible;
          }
      }
      
      @-moz-keyframes nineprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 180px;
              visibility: visible;
          }
      }
      
      .eight {
          -webkit-animation: eightprogress 2s ease-in-out 0.5s alternate;
          animation: eightprogress 2s ease-in-out 0.5s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      @-webkit-keyframes eightprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 160px;
              visibility: visible;
          }
      }
      
      @-moz-keyframes eightprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 160px;
              visibility: visible;
          }
      }
      
      .seven {
          -webkit-animation: sevenprogress 2s ease-in-out 0.5s alternate;
          animation: sevenprogress 2s ease-in-out 0.5s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      @-webkit-keyframes sevenprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 140px;
              visibility: visible;
          }
      }
      
      @-moz-keyframes sevenprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 140px;
              visibility: visible;
          }
      }
      
      .six {
          -webkit-animation: sixprogress 2s ease-in-out 0.5s alternate;
          animation: sixprogress 2s ease-in-out 0.5s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      @-webkit-keyframes sixprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 125px;
              visibility: visible;
          }
      }
      
      @-moz-keyframes sixprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 125px;
              visibility: visible;
          }
      }
      
      .five {
          -webkit-animation: fiveprogress 2s ease-in-out 0.5s alternate;
          animation: fiveprogress 2s ease-in-out 0.5s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      @-webkit-keyframes fiveprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 100px;
              visibility: visible;
          }
      }
      
      @-moz-keyframes fiveprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 100px;
              visibility: visible;
          }
      }
      
      .four {
          -webkit-animation: fourprogress 2s ease-in-out 0.5s alternate;
          animation: fourprogress 2s ease-in-out 0.5s alternate;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      @-webkit-keyframes fourprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 80px;
              visibility: visible;
          }
      }
      
      @-moz-keyframes fourprogress {
          from {
              background-color: $water-blue;
              width: 1px;
              visibility: visible;
          }
          to {
              background-color: $sky-blue;
              width: 80px;
              visibility: visible;
          }
      }
      
      footer {
          width: 100%;
          height: 160px;
          border-top: 1px solid $sky-blue;
          background-color: $light-blue;
          .title {
              border: 0;
          }
          .social {
              height: auto;
              text-align: center;
             a {
                  padding-right: 15px;
                  &:first-child {
                      margin-left: 25px;
                  }
                  #medium {
                      background-color: #1e90ff;
                      border-radius: 50%;
                  }
              }
              img {
                  &:last-child {
                      border-radius: 50%;
                  }
                  @media screen and (max-width: $breakpoint-small-mobile) {
                      width: 20px;
                      height: 20px;
                  }
              }
          }
      }
