
$black: #000000;
$sky-blue: #2098D1;
$red:#e74c3c;
$yellow:#f9c922;
$dark-grey:#222222;
$light-blue:#f9fcfd;
$greyish:#646464;
$water-blue:#add8e6;

$breakpoint-desktop: 1281px;
$breakpoint-tablet:1233px;
$breakpoint-mobile:1000px;
$breakpoint-small-mobile:606px;

